
  
  .paneContainer{
    padding: 50px;
    margin-right: 30px;
    overflow: scroll;
    min-height: auto;
    min-width: auto;
    font-weight: 20;
  }
  table.mat-table{
    border: 2px solid black;
    border-radius: 12px solid black;
  }
  th.mat-header-cell,.mat-cell,td.mat-cell {
    padding: 10px 10px 10px 4px;
    width: 5px;
    border-right: 0.1px solid bisque;
    border-left: 0.1px solid bisque;

 }
 tr.mat-row{
  height: 4px !important;
 }
 mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 15%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    flex: 0 0 5%;
}
  
